@import "../../scss/_variables.scss";


.trending-section{
    height: 50px;
    width: 90%;
    margin: 50px auto ;
    background: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;

    .trending-section-heder{
        color: $red;
        margin: 0 15px;
        font-weight: 600;
    }

    .trending_page  {
        margin: 0 15px;
        font-weight: 500;

        a {
            color: black;
        }
    }

    
}