@import "../../../scss/_variables.scss";

.burgerbar{
    height: 60px;
    background: $blue;

    
    .burgerbar-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .burgerbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        .burgerbar-logo-text{
            font-size: 43px;
            font-weight: bolder;
            color: #fff;
        }

        .strapline{
            font-size: 12px;
            margin-top: 24px;
            color: #fff;
        }

        .dot{
            color: $red;
            margin-left: 5px;
            font-size: 43px;
        }
    }

    .burgerbar-section{
        display: flex;
        justify-content: center;
        align-items: center;

        .burgerbar-icons{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 120px;


            .facebook-icon,
            .youtube-icon,
            .twitter-icon{
                font-size: 22px;
                cursor: pointer;
            }

            .facebook-icon:hover,
            .youtube-icon:hover,
            .twitter-icon:hover {
                font-size: 30px;
            }
            
            .facebook-icon{
                color: #103369;
            }

            .youtube-icon{
                color: #c91413;
            }

            .twitter-icon{
                color: #cae4fb;
            }
        }
    }
}