@import "../../../scss/_variables.scss";

.navbar-link-container{
    display: flex;
    justify-content: flex-end;
    background: $blue;
    height: 50px;
    align-items: center;

    .navbar-link-pro{
        height: 100%;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fffcf5;
        background: #8c2b5e;
    }
}

.links{
    display: flex;
}

.navbar-link,
.home-icon {
    color: #fffcf5;
    margin: 15px;
}