@import "../../../scss/_variables.scss";

.navbar-link-container{
    background: $dark-blue;
    height: 50px;

    .navbar-link-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    .navbar-search{
        height: 100%;
        width: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fffcf5;

        .burgerbar-search-text{
            margin-right: 10px;
        }
    }

    .home-icon{
        color: #fff;
    }
}

.links{
    display: flex;
}


.navbar-link a,
.home-icon {
    color: #fffcf5;
    margin: 15px;

    a{
        color: #fffcf5;
    }
}
