.sitebarForAdmin{
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #333;

    .accountSection{
        height: 100px;
        width: 100%;
        color: #a9a6a6;
        margin: 13px;
    }

    .productsFromAdmin{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;

        .admin-product-link{
            color: #fff;
            font-size: 18px;
        }
    }

    .admin-product-link{ 
        margin: 13px;

        a{
            color: #a9a6a6;

        }
    }



}