
.news-card {
    display: flex;
    flex-direction: column;
    margin: 10px;

    &.with-bg {
        background: #f8f8f8;
    }

    p span {
        // font-size: 16px;
        color: #e624a4;
        padding-right: 10px !important;
    }

    // 270x220
    &.size-270x220 {
        margin-left: 33px;
        width: 270px;
        height: 220px;

        &.with-bg {
            background: #f8f8f8;
        }

        img {
            height: 65%;
            width: 100%;
        }

        span {
            font-weight: bolder;
        }
    }

    // 300x300
    &.size-300x300 {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 300px;

        &.with-bg {
            background: #f8f8f8;
        }

        img{
            height: 65%;
            width: 100%
        }
        span {
            font-weight: bolder;
        }

    }

    // 340x350
    &.size-340x350 {
        width: 340px;
        height: 350px;

        &.with-bg {
            background: #f8f8f8;
        }

        img {
            width: 100%;
            height: 50%;
        }

        span {
            font-size: 18px;
            font-weight: bold;
            padding: 7px 0;
        }

        p, p * {
            font-size: 15px;
        }
    }

    &.size-460x330 {
        width: 460px;
        height: 330px;

        &.with-bg {
            background: #f8f8f8;
        }

        img {
            height: 80%;
            width: 100%;
        }
        span {
            font-weight: bolder;
        }
    }

    // 460x450
    &.size-460x450 {
        width: 460px;
        height: 450px;

        img {
            width: 100%;
            height: 60%;
        }

        span {
            font-size: 20px;
            font-weight: bold;
            padding: 5px 0;
        }

        p, p * {
            font-size: 16px;
        }
    }

    // 625x460
    &.size-625x460 {
        width: 625px;
        height: 460px;

        &.with-bg {
            background: #f8f8f8;
        }

        img {
            width: 100%;
        }

        span, p {
            margin: 5px 22px;
        }

        span {
            font-size: 24px;
            font-weight: bolder;
        }
    }
}
