@import "../../../../scss/_variables.scss";

.freshNews{
    display: flex;
}

.freshNewsContent{
    display: flex;
    flex-wrap: wrap;
    width: 980px;

    .freshNewsTitle{
        width: 100%;

        h1{
            font-size: 35px;
            margin: $margin1;
        }
    }
}

.mini-cart-section{
    display: flex;
    flex-wrap: wrap;
}

.middle-cart-section {
    display: flex;
}
