@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import "./scss/variables";

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Open sans';
}


a {
    text-decoration: none;
    color: #fff;
    ;
}

.centered{
    padding: 0 3%;
}