.sitebarForAdmin{
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #333;
    padding-left: 20px;

    .accountSection{
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 100%;
        color: #a9a6a6;
        margin-top: 15px;

        .account-image img{
            height: 100px;
            width: 100px;
        }
    }

    .pagesFromAdmin{
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-right: 20px;

        .pagesFromAdminTitle{
            // margin: 13px;
            padding-bottom: 20px;
            color: #a9a6a694;
            border-bottom: 1px solid #a9a6a694;
        }

        .admin-pages-link{
            color: #fff;
            font-size: 18px;

            a{
                display: flex;
                justify-content: space-between;
            }

        }
    }

    .admin-pages-link{ 
        margin: 13px;

        a{
            color: #a9a6a6;
        }
    }

}