.admin-new-post{
    margin-left: 50px;
}

.spanTitle{
    margin: 20px;
    background: #d6d5d5;
    height: 30px;
    font-size: 24px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    width: 800px;
}